<div class ="cadastrar">
    <div class='wrap'>  
        <mat-card class="registerCard">
              <mat-card-title class="registerTitle">Cadastrar</mat-card-title>
            <mat-card-content>
              <form>
                <mat-form-field class="registerInput">
                  <input matInput placeholder="Nickname" required> 
                </mat-form-field><br>

                <mat-form-field class="registerInput">
                  <input matInput placeholder="Email" id="email" required> 
                </mat-form-field><br>

                <mat-form-field class="registerInput">
                  <input matInput placeholder="Senha" type="password" required> 
                </mat-form-field><br>

                <mat-form-field class="registerInput">
                  <input matInput placeholder="Repetir senha" type="password" required> 
                </mat-form-field><br> 
              </form>
            </mat-card-content>


            <mat-card-actions>
              <button  routerLink="" class="registerButton" mat-raised-button >Cadastrar</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>