<mat-toolbar color='primary'>
    <mat-toolbar-row class="header">
        <span><img class="iconimg" src="../../../../assets/logo.8JhZGHQ.png"></span>
        <span class="titulo">Conexão Play Hard</span>
        <span class="spacer"></span>

  <a> <span class="icone">  <fa-icon [icon]="faFacebook"></fa-icon></span></a>
  <a>  <span class="icone">   <fa-icon [icon]="faTwitter"></fa-icon></span></a>
  <a>  <span class="icone">  <fa-icon [icon]="faYoutube"></fa-icon></span></a>
  <a>  <span class="icone">  <fa-icon [icon]="faInstagram"></fa-icon></span></a>
  <a>  <span class="icone">  <fa-icon [icon]="faTwitch"></fa-icon></span></a>
  <a>  <span class="icone">  <fa-icon [icon]="faDiscord"></fa-icon></span></a>
        
        <button mat-icon-button [mat-menu-trigger-for]="menu" ><mat-icon>more_vert </mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>teste 1</span>
            </button>
    
            <button mat-menu-item>
                <mat-icon>voicemail</mat-icon>
                <span>teste 2</span>
            </button>
    
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>teste 3</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
    </mat-toolbar>