.header {
  display: flex;
  background-color: #ffa800;
  color: white;
  justify-content: space-around;
  .botoesDireita {
    font-size: 1em;
    font-family: "Bungee";
  }
  a {
    color: white;
    text-decoration: none;
  }
  .icone {
    color: white;
    margin-left: 15px;
    padding-top: 5px;
    // font-size: 25px;
    font-size: 1.9rem;
    vertical-align: -5px;
    padding-right: 3px;
  }
  .titulo {
    font-size: 1.2em;
    font-family: "Arial";
    font-weight: 300;
    margin-left: 5px;
    // text-transform: uppercase;
  }
  @media screen and (max-width: 1440px) {
    // .titulo {
    //   display: none;
    // }
  }
}
