<mat-toolbar color='primary'>
    <mat-toolbar-row class="header">
        
<!-- home page button-->
        <a routerLink=''>
            <mat-icon class="icone">  home </mat-icon>
            <span class="titulo">Inicio</span>
        </a>

<!-- entretenimento page button -->
        <a routerLink='entretenimento'>
            <mat-icon class="icone">   local_fire_department</mat-icon>
            <span class="titulo">Entretenimento</span>
        </a>
<!-- promoções page button -->
        <a routerLink='promocoes'>
            <mat-icon class="icone">  loyalty </mat-icon>
            <span class="titulo">Promoções</span>
        </a>

<!-- suporte button -->
    <a href="https://discord.gg/4TVqfZgdq5" target="_blank">
        <mat-icon class="icone"> support_agent</mat-icon>
        <span class="titulo">Suporte</span>
    </a>

    
<!-- Cadastrar / logar button -->
    <div>
        <mat-icon class="icone">face</mat-icon>
    <a routerLink='cadastrar'>
        <span class="titulo">Cadastrar</span>
    </a>
        <span class="titulo">/</span>
    <a routerLink='entrar'>
        <span class="titulo">Entrar</span>
    </a>

    <button mat-icon-button [mat-menu-trigger-for]="menu" ><mat-icon class="icone">more_vert </mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>perm_identity</mat-icon>
            <span>Perfil</span>
        </button>

        <button mat-menu-item>
            <mat-icon>shopping_bag</mat-icon>
            <span>Minha bolsa</span>
        </button>
    </mat-menu>

    </div>    

    </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
