.header {
  display: flex;
  background-color: #ffa800;
  color: white;
  justify-content: space-around;
  // .spacer {
  //   flex: 1 1 auto;
  // }
  .botoesDireita {
    font-size: 1em;
    font-family: "Bungee";
  }
  // .iconimg {
  //   max-height: 60px;
  //   padding-top: 5px;
  //   margin-left: 15px;
  //   margin-right: 25px;
  // }
  a {
    color: white;
    text-decoration: none;
  }
  .icone {
    color: white;
    margin-left: 15px;
    padding-top: 5px;
    // font-size: 25px;
    font-size: 1.9rem;
    vertical-align: -5px;
    padding-right: 3px;
    // align-items: center;
  }
  .titulo {
    font-size: 1.2em;
    // font-family: "Bungee";
    font-family: "Arial";
    font-weight: 300;
    margin-left: 5px;
    // align-items: center;
    text-transform: uppercase;
  }
}
