.header {
  display: flex;
  background-color: #000;
  .spacer {
    flex: 1 1 auto;
  }
  .botoesDireita {
    font-size: 1em;
    font-family: "Bungee";
  }
  .icon {
    max-height: 78px;
  }
  .titulo {
    font-size: 1.5em;
    font-family: "Bungee";
  }
}
