.home {
  height: 90vh;
  background-image: url("../../../../assets/telaDeFundo.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;

  .wrap {
    display: grid;
    grid-template-columns: 25% 25% 50%;

    .A {
      width: 100%;
      padding-top: 20%;
      text-align: center;
      img {
        height: 60%;
      }

      p {
        font-family: "Arial";
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        .palavraEspecial {
          color: #ffa800;
        }
      }

      button {
        margin-top: 10px;
        height: 12%;
        background-color: #ffa800;
        color: white;
        font-size: 2em;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 15px;
        border-style: 1px solid #ffa800;
      }
    }

    .B {
      width: 100%;
      padding-top: 30%;
      text-align: end;
      img {
        height: 100%;
        border-radius: 5px;
      }
    }

    .C {
      width: 100%;
      padding-top: 5%;
      // margin-left: 10%;
      // text-align: center;
      h1 {
        color: white;
        padding-bottom: 1%;
        margin-left: 5%;
        margin-top: 10%;
        font-weight: 600;
        font-size: 5em;
        font-family: "Arial";
        text-transform: uppercase;
      }

      h2 {
        margin-left: 5%;
        color: #7b7d7c;
        font-size: 2.5em;
        font-weight: 600;
        font-family: "Arial";
        text-transform: uppercase;
      }

      .wrapC {
        display: flex;
        justify-content: space-around;
        margin-right: 15%;
        // margin-left: 1%;
        margin-top: 5%;
        padding-left: 2rem;
        .wrapC2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          img {
            height: 55%;
          }
          h2 {
            color: white;
            font-size: 2.5em;
            font-weight: 600;
            font-family: "Arial";
            text-transform: uppercase;
            margin-top: 15px;
            text-align: center;
          }
          button {
            height: 30%;
            margin-left: 12px;
            background-color: #ffa800;
            color: white;
            font-size: 1.5em;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 10px;
            border-style: 1px solid #ffa800;
            padding: 8px 12px 8px 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1440px) {
    .wrap {
      display: grid;
      grid-template-columns: 50% 50%;

      .A {
        padding-top: 5%;
      }
      .B {
        display: none;
      }

      .C {
        .wrapC {
          padding-left: 5rem;
          img {
            height: 50%;
          }
          h2 {
            color: white;
            font-size: 2.5em;
            font-weight: 600;
            font-family: "Arial";
            text-transform: uppercase;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
