<div class="home">
    <div class="wrap">

        <div class="A">
            <img class="img1tela" src="../../../../assets/logo4.png">
            <p class="texto1">Faça &nbsp;agora &nbsp;o  </p>
            <p class="texto1">seu  &nbsp;<span class="palavraEspecial">cadastro</span> &nbsp;</p>
            <button mat-raised-button routerLink="cadastrar" class="botaoCadastrar"> Cadastrar</button>
        </div>

        <div class="B">
            <img class="img2tela" src="../../../../assets/imagemHome.png">
        </div>

        <div class="C">
            <h1>Compre seu</h1>
            <h2>Vips, Coins, Facções ou Corporações</h2>

        <div class="wrapC">
            <div>
                <img class="img" src="../../../../assets/v.png">
                <h2 class="t1">Vip</h2>
                <button mat-raised-button routerLink="promocoes" class="botao">Compre</button>
            </div> 

            <div>
                <img class="img" src="../../../../assets/c.png">
                <h2 class="t1">Coins</h2>
                <button mat-raised-button routerLink="promocoes" class="botao">Compre</button>
            </div> 

            <div>
                <img class="img" src="../../../../assets/f.png">
                <h2 class="t1">Fac</h2>
                <button mat-raised-button routerLink="promocoes" class="botao">Compre</button>
            </div> 

            <div>
                <img class="img" src="../../../../assets/c.png">
                <h2 class="t1">Corp</h2>
                <button mat-raised-button routerLink="promocoes" class="botao">Compre</button>
            </div> 
        </div>


        </div>
    </div>
</div>
