<div class ="login">
    <div class='wrap'>  
        <mat-card class="loginCard">
            <mat-card-content>
            <form>
                <img class="loginlogo" src="../../../../assets/logo4.png">
                <mat-form-field class="loginInput">
                    <input matInput placeholder="Nickname" required>     
                </mat-form-field>

                <mat-form-field class="loginInput">
                    <input matInput placeholder="Senha"  type="password" required> 
                </mat-form-field>
                </form>
            </mat-card-content>

        <mat-card-actions class="link1"> 
            <button class="loginButton" mat-raised-button >Entrar</button>
        </mat-card-actions>

        <mat-card-actions class="link1">
            <a routerLink='/cadastrar'>Esqueceu a senha?</a>
        </mat-card-actions>

        <mat-card-actions class="link1">
          <p>Não tem uma conta?  <a routerLink='/cadastrar'>Cadastre-se</a> </p>  
        </mat-card-actions>
    
    </mat-card>
 
    </div>
</div>