.esquecer {
  height: 90vh;
  background-image: url("../../../../assets/telaDeFundo.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;

  .wrap {
    display: flex;
    justify-content: space-around;
    padding: 10%;

    .esquecerCard {
      width: 400px;
      text-align: center;
      border-radius: 15px;

      .esquecerTitle {
        margin-top: 10px;
        margin-bottom: 50px;
        text-transform: uppercase;
        color: #ffa800;
        font-weight: 800;
        font-size: 2em;
        font-family: Arial;
      }
      .esquecerInput {
        width: 400px;
        font-size: 1.2em;
      }

      .esquecerButton {
        padding: 12px;
        margin-bottom: 10px;
        margin-top: 5px;
        background-color: #ffa800;
        color: white;
        font-family: "Arial";
        font-size: 2em;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 12px;
        border-style: 1px solid #ffa800;
      }
      .link1 {
        margin-top: -15px;
      }
    }
  }
}
