<div class ="esquecer">
    <div class='wrap'>  
        <mat-card class="esquecerCard">
              <mat-card-title class="esquecerTitle">Esqueceu sua senha?</mat-card-title>
            <mat-card-content>
              <form>
                <mat-form-field class="esquecerInput">
                  <input matInput placeholder="Email" id="email" required> 
                </mat-form-field><br>
              </form>
            </mat-card-content>


            <mat-card-actions>
              <button class="esquecerButton" routerLink="" mat-raised-button >Enviar link para login</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>